[user]
name = "Daylin Morgan"
email = "me@dayl.in"

[signing]
behavior = "own"
backend = "gpg"
signingkey = "7AD9DB430EE2B3C1D86BF3243CD66E04B8072F3E"

[git]
private-commits = "description(glob:'wip*') | description(glob:'private:*')"
write-change-id-header = true

[ui]
# default-command = "log"
default-command = "l"
pager = "delta"
diff-editor = ":builtin"
diff-formatter = ":git"

[aliases]
wip = ["ci", "-m", "wip"]
la = ["log", "-r", "all()"]
l = ["log", "-T", "log_oneline"]
lh = ["log", "-r", "heads()"]

bsm = [
  "bookmark", "set", "main", "-r", "last"
]
dl = ["desc", "-r", "last"]
tug = ["bookmark", "move", "--from", "closest_bookmark(@-)", "--to", "@-"]



[revsets]
# log = '@ | ancestors(trunk()..(visible_heads() & mine()), 2) | trunk()'
# don't show old branches by default
log = '@ | ancestors(trunk()..(heads(all()) & author_date(after:"1 week ago")),6) | trunk()'
# default
# log = "present(@) | ancestors(immutable_heads().., 2) | present(trunk())"


[templates]
draft_commit_description = '''
concat(
  coalesce(description, default_commit_description, "\n"),
  surround(
    "\nJJ: This commit contains the following changes:\n", "",
    indent("JJ:     ", diff.stat(72)),
  ),
  "\nJJ: ignore-rest\n",
  diff.git(),
)
'''

[template-aliases]
# adapted from builtin_log_oneline
# https://github.com/jj-vcs/jj/blob/41b8d432e770f0ba2e5c75078dad956521cfd0a3/cli/src/config/templates.toml#L160-L189
# log_oneline = '''
log_oneline = 'log_oneline(self)'
'log_oneline(commit)' = '''
if(commit.root(),
  format_root_commit(commit),
  label(
    separate(" ",
      if(commit.current_working_copy(), "working_copy"),
      if(commit.immutable(), "immutable", "mutable"),
      if(commit.conflict(), "conflicted"),
    ),
    separate(" ",
      format_short_change_id_with_change_offset(commit),
      format_short_signature_oneline(commit.author()),
      if(commit.description(),
        commit.description().first_line(),
        label(if(commit.empty(), "empty"), description_placeholder),
      ),
      format_commit_labels(commit),
      commit.bookmarks(),
      commit.tags(),
      commit.working_copies(),
      if(commit.empty(), empty_commit_marker)
    ) ++ "\n",
  )
)
'''

[revset-aliases]
"heads" = '@ | ancestors(trunk()..(visible_heads()), 2) | trunk()'
"last" = 'latest(::@ & ~empty())'
'closest_bookmark(to)' = 'heads(::to & bookmarks())'
"r(x)" = 'ancestors(@, x)'

[experimental-advance-branches]
enabled-branches = ["glob:*"]
disabled-branches = ["main", "trunk"]
