[Unit]
Description=soft-serve

[Container]
Image=docker.io/charmcli/soft-serve:v0.11.1
# make sure git zombie processes don't bog us down
RunInit=true
Volume=/var/lib/soft/data:/soft-serve
PublishPort=23231:23231
PublishPort=23232:23232
PublishPort=23233:23233
PublishPort=9418:9418

[Service]
# Restart service when sleep finishes
Restart=always

[Install]
WantedBy=multi-user.target
