# NOTE: could ratelimt rather than block?
(no-ai) {
  defender block {
		ranges aliyun vpn aws deepseek githubcopilot gcloud oci azurepubliccloud openai mistral vultr cloudflare digitalocean linode
    }
}

(logging) {
	log {
		output file /var/log/caddy/access-{args[0]}.log
		format json
	}
}

# elizabeth-and-daylin.com {
# 	reverse_proxy http://localhost:4321
# }
#
# elizabeth.dayl.in, www.elizabeth-and-daylin.com {
# 	redir https://elizabeth-and-daylin.com{uri} permanent
# }

https://cloud.dayl.in {
	respond "No service active"
}

